{% extends "::layout.html.twig" %}

{% block body %}

	<h3>Edition d'une catégorie</h3>
	<a href="{{ path('pp_admin_listeCategories') }}">Retour à la liste des catégories</a>
	<hr>
	
	{% include "PPAdminBundle:Categorie:form.html.twig" %}
	
{% endblock %}
