<div class="modal fade" id="modalSuppression" role="dialog" aria-labelledby="confirmationSupression" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
					<h4 class="modal-title" id="confirmationSupression">Confirmation de suppression</h4>
				</div>
				
				<div class="modal-body">
					<p>Voulez-vous vraiment supprimer cet ingrédient ?</p>
					<div class="text-right">
						<button id="suppression" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Supprimer</button> <button class="btn btn-default" type="button" class="close" data-dismiss="modal">Annuler</button>
					</div>
					<input hidden type="text" id="path" />
				</div>
			</div>
		</div>
	</div>