{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Editer une recette</h3>
	<hr>
	{% include "PPAdminBundle:Recette:recetteForm.html.twig" %}
{% endblock %}

{% block javascripts %}
	{% include "PPAdminBundle:Recette:javascript.html.twig" %}
{% endblock %}
