{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Edition d'une recette</h3>
	<a href="{{ path('pp_user_profil') }}">Retour au profil.</a>
	<hr>
	
	{% include "PPAppliBundle:Forms:recetteForm.html.twig" %}
{% endblock %}

{% block javascripts %}


<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#pp_applibundle_recette_ingredients');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter un ingrédient</a>');
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addCategory($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire Categorie
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Ingrédient n°' + (index+1))
          .replace(/__name__/g, index));

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>













	<script>
		$(document).ready(function () {
			/* Ajout d'un ingredient en ajax */
			$("input#submitIngredient").click(function(){
				var btn = $(this);
    			btn.button('loading');
				$.ajax({
					type: "POST",
					url: "{{ path('pp_appli_ajouterIngredient') }}",
					data: $('form').serialize(),
					success: function(response){

						$.each(response, function(i, item) {

							$('#submitIngredientRecette').append(new Option(item, i));
						});


						btn.button('reset');
						$("#ingredientModal form")[0].reset();
						$("#ingredientModal").modal('hide');
						$("#gererIngredients").modal('show');
					},
					error: function(){
						alert("Echec de l'ajout !");
						btn.button('reset');
					}
				});
			});

			/* Ajout d'une unité en ajax */
			$("input#submitUnite").click(function(){
				var btn = $(this);
    			btn.button('loading');
				$.ajax({
					type: "POST",
					url: "{{ path('pp_appli_ajouterUnite') }}",
					data: $('form').serialize(),
					success: function(){
						btn.button('reset');
						$("#uniteModal form")[0].reset();
						$("#uniteModal").modal('hide');
						$("#gererIngredients").modal('show');
					},
					error: function(){
						alert("Echec de l'ajout !");
						btn.button('reset');
					}
				});
			});

			/* Ajout d'un ingredient à la recette */
			$("input#submitIngredientRecette").click(function(){
				var btn = $(this);
    			btn.button('loading');

    			$.ajax({
					type: "POST",
					url: "{{ path('pp_appli_ajouterIngredientRecette') }}",
					data: $('form').serialize(),
					success: function(){
						btn.button('reset');
						$("#gererIngredients form")[0].reset();
						$("#gererIngredients").modal('hide');
					},
					error: function(){
						alert("Echec de l'ajout !");
						btn.button('reset');
					}
				});

				$("#gererIngredients").modal('hide');
				btn.button('reset');
				return false;
			});

			/* Masque les boites modal après envoi */
			$("#ajouterIngredient").click(function(){
				$("#gererIngredients").modal('hide');
			});

			$("#ajouterUnite").click(function(){
				$("#gererIngredients").modal('hide');
			});
		});
    </script>
{% endblock %}
