{% extends "::layout.html.twig" %}

{% block body %}
	<h3>Edition d'une recette</h3>
	<a href="{{ path('pp_user_profil') }}">Retour au profil.</a>
	<hr>
	
	{% include "PPAppliBundle:Forms:recetteForm.html.twig" %}
{% endblock %}

{% block javascripts %}
	{% include "PPAppliBundle:Recette:javascript.html.twig" %}
{% endblock %}
