{% extends "::layout.html.twig" %}

{% block body %}
	<div class="row">
		<h3 class="text-center">Connexion</h3>
		<hr>
	</div>

	{% include "PPUserBundle:Forms:connexionForm.html.twig" %}
{% endblock %}