<h3>Administration</h3>
<ul class="nav nav-tabs nav-justified">
	<li {% if app.request.get('_route') == "pp_admin_homepage" %}class="active"{% endif %}><a href="{{ path('pp_admin_homepage') }}">Accueil</a></li>
	<li {% if app.request.get('_route') == "pp_admin_recettesAttente" %}class="active"{% endif %}><a href="{{ path('pp_admin_recettesAttente') }}">Recettes en attente</a></li>
	<li {% if app.request.get('_route') == "pp_admin_listeRecettes" %}class="active"{% endif %}><a href="{{ path('pp_admin_listeRecettes') }}">Liste des recettes</a></li>
	<li {% if app.request.get('_route') == "pp_admin_listeUtilisateurs" %}class="active"{% endif %}><a href="{{ path('pp_admin_listeUtilisateurs') }}">Liste des utilisateurs</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ingrédients<span class="caret"></span></a>
		<ul class="dropdown-menu">
		  <li><a href="">Ingrédients en attente</a></li>
		  <li><a href="">Liste des ingrédients</a></li>
		</ul>
	</li>
</ul>
<br />